* {
    margin: 0;
    padding: 0;
}

:root {
    /* Fonts */
    --title-font    : 'Yusei Magic', sans-serif;
    --body-font     : 'Poppins', sans-serif;
    
    /* Colors */
    --primary-color     : hsl(335, 46%, 5%);
    --primary-color-alt : hsla(335, 24%, 24%, 0.308);
    --text-color-white  : hsl(0, 0%, 92%); 
    --text-color-black  : rgba(0, 0, 0, 0.746); 
    --body-bg-color     : hsl(0, 0%, 88%);
    --color             : var(--primary-color);
    --color-alt         : var(--primary-color-alt);
    --color-contact     : hsla(293, 52%, 21%, 0.445);
    --color-proyect-by  : hsl(300, 100%, 40%);
    /* --color-bottom      : hsl(0, 12%, 54%) */

    /* Font size */
    --h1-font-size      : 2rem;
    --h2-font-size      : 1.65rem;
    --h3-font-size      : 1.35rem;
    --h4-font-size      : 1.25rem;
    --big-font-size     : 1.15rem;
    --normal-font-size  : 1.10rem;
    --small-font-size   : 0.75rem;
    --smaller-font-size : 0.6875rem;
    
}

body {
    color           : var(--color);
    font-family     : var(--body-font);
    font-size       : var(--normal-font-size);
    background-color: var(--body-bg-color);
}

a {
    color: var(--primary-color);
}

p {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top  : 0;
  color       : var(--color);
  font-family : var(--title-font);
  font-weight : 800;
}

h1 {
  font-size:  var(--h1-font-size);
}

h2 {
  font-size : var(--h2-font-size);
}

h3 {
  font-size : var(--h3-font-size);
}

h4 {
  font-size : var(--h4-font-size);
}

.grid-body {
    display : grid;
}

.content-header {
    display : grid;
}

.main-header {
    position : relative;
    z-index: 1;

}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.1;
}



.title-header {
    text-align  : center;
    color       : var(--primary-color);
    padding-top : 6rem;

}

.text-header {
    text-align  : center;
    padding     : 1.5rem 3rem;
    font-size   : var(--big-font-size) ;
}

.button {
    text-align  : center;
    margin      : 1rem 2rem 1rem;
}

.button-black {
    display         : inline-block;
    padding         : 0.85rem 1.5rem;
    border-radius   : 0.5rem;
    text-decoration : none;
    font-weight     : 600;
    font-size       : var(--title-font) ;
    color           : var(--text-color-white);
    border          : 1px solid var(--color);
    background      : var(--color);
}

.button-black:hover {
    background-color: var(--body-bg-color);
    color           : var(--text-color-black) ;
    box-shadow      : 0 0 16px var(--color);
}

.grid-main {
    display     : grid;
}

.section-info {
    background  : var(--color-alt);

}

.title-info {
    text-align : center;
    padding    : 1rem 3rem 1rem ;
    margin     : 0.5rem ;
    line-height: 147%;

}

.content-info {
    display    : grid;
    overflow   : auto;
    text-align : center;
    margin     : 2rem;

}

.content-info-1 {
    padding     : 0.5rem 3rem 3.5rem;
    text-align  : center;

}


.section-services {
    background-color: var(--color);
}

.section-services .content-services{
    display         : grid;
    gap             : 2rem;
    justify-content : center;
}

.content-services {
    margin          : 1.5rem;
    background-color: var(--body-bg-color);

}

.image-container {
    width          : 100%;
    height         : 0;
    padding-bottom : 56.25% ;
    overflow       : hidden;
    position       : relative;
}

.image-container img {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    object-fit : cover;
}

.text-container {
    text-align      : center;
    padding         : 1rem 2rem;
    letter-spacing  : 1px;    

}

.text-container p {
    padding     : 2rem 2rem;
}


.section-promo {
    padding     :2rem 2rem ;
    text-align  : center;
}

.section-promo h2 {
    padding-bottom: 2rem ;
}

.section-promo p {
    padding    : 1rem;
}

.section-us {
    display            :grid;
    grid-template-rows :1fr 1fr;
}

.content-us-1 {
    background-color: var(--color-contact)
}

.content-us-2 {
    background-color: var(--color-alt)
}

.content-us-1, .content-us-2 {
    padding: 2rem 1.5rem 1rem;
    text-align: center;

}

.content-us-1 h2, .content-us-2 h2{
    padding-bottom  : 2rem;
    text-align      : center;
}

.content-us-1 p, .content-us-2 p{
    padding   : 0.5rem;
    
}


.section-footer {
    background          : var(--color);
    color               : white;
    display             : grid;
    grid-template-rows  : 1fr 1fr;
    text-align          : center;
    padding             : 2rem 0;
    font-size           : var(--big-font-size);
}


.section-footer a {
    color : var(--color-proyect-by);
}